.experience{
    justify-content: center;
    align-items: cente;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

@media only screen and (max-width: 600px)  {
    .experience{
       position: relative;
       font-size: 1rem;
       grid-template-columns: 2fr; 
       justify-content: center;
       align-items: center;
       display: flex;
       top: 200px;
       flex-direction: column;
    }
}


