<section>

    <div id="portfolio" id="project">
      <div class="main-text" id="project">
        <h2>Latest<span>Project's</span></h2>
  
        <div class="portfolio-content">
          <div class="row">
            <img src="\assets\images\coming_soon.jpg">
            <div class="layer">
              <h5>SCHOOL WEBSITE</h5>
              <p>Mzamomtsha Website</p>
              <a href="#"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
          <div class="row">
            <img src="\assets\images\coming_soon.jpg">
            <div class="layer">
              <h5>SCHOOL WEBSITE</h5>
              <p>Mzamomtsha Website</p>
              <a href="#"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
  
          
          <div class="row">
            <img src="\assets\images\coming_soon.jpg">
            <div class="layer">
              <h5>SCHOOL WEBSITE</h5>
              <p>Mzamomtsha Website</p>
              <a href="#"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
          
          <div class="row">
            <img src="\assets\images\coming_soon.jpg">
            <div class="layer">
              <h5>SCHOOL WEBSITE</h5>
              <p>Mzamomtsha Website</p>
              <a href="#"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
          <div class="row">
            <img src="\assets\images\coming_soon.jpg">
            <div class="layer">
              <h5>SCHOOL WEBSITE</h5>
              <p>Mzamomtsha Website</p>
              <a href="#"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
   <div class="row">
            <img src="\assets\images\coming_soon.jpg">
            <div class="layer">
              <h5>SCHOOL WEBSITE</h5>
              <p>Mzamomtsha Website</p>
              <a href="#"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
        </div>
        <app-scroll-button></app-scroll-button>
      </div>
    </div>
  </section>