<section>

    <div id="portfolio" id="project">
      <div class="main-text" id="project">
        <h2>Latest<span>Project's</span></h2>
  
        <div class="portfolio-content">
          <div class="row">
            <img src="\assets\images\port.PNG">
            <div class="layer">
              <h5>My PortFolio</h5>
              <p>My portfolio is a web application that I developed using Angular, a powerful front-end framework.</p>
              <a href="https://tsepophetla-e87bb.web.app/" target="_blank"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
          <div class="row">
            <img src="\assets\images\sustain.PNG">
            <div class="layer">
              <h5>SUSTAIN APP DESIGN</h5>
              <p>Sustainable Figma design alert application that enables the community to report issues they encounter, and when those issues are resolved, users receive rewards</p>
              <a href="https://www.figma.com/proto/jiJLGd8nvTwcnvzt4LCNcR/Untitled?page-id=0%3A1&type=design&node-id=66-440&viewport=230%2C305%2C0.08&t=zgMQnYliQqEYz4MN-1&scaling=scale-down&starting-point-node-id=66%3A440&show-proto-sidebar=1&mode=design" target="_blank"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
  
          
          <div class="row">
            <img src="\assets\images\Tax-Calculator.PNG">
            <div class="layer">
              <h5>TAX-CALCULATOR</h5>
              <p>A tax calculator in Java involves taking user input for income, applying tax rules, and calculating the tax amount</p>
              <a href="https://github.com/Tsepo-Phetla/Tax-Calculator.git" target="_blank"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
          
          <div class="row">
            <img src="\assets\images\mzamo.png">
            <div class="layer">
              <h5>SCHOOL WEBSITE</h5>
              <p>Mzamomtsha Website</p>
              <a href="https://symphonious-fudge-fafa73.netlify.app/index.html" target="_blank"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
          <div class="row">
            <img src="\assets\images\maxresdefault.jpg">
            <div class="layer">
              <h5>FINANCIAL CALCULATOR</h5>
              <p>financial calculator in Python that allows users with various financial calculations.</p>
              <a href="https://github.com/Tsepo-Phetla/Financial-Calculator.git" target="_blank"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
   <div class="row">
            <img src="\assets\images\Tkinter.webp">
            <div class="layer">
              <h5>BANKING APP</h5>
              <p>Python banking app that involves implementing functionalities for user authentication, account management, transactions, and balance management.</p>
              <a href="https://github.com/Tsepo-Phetla/BankApp.git" target="_blank"><i class='bx bx-link-external' style="color: orange;"></i></a>
            </div>
          </div>
  
        </div>
        <app-scroll-button></app-scroll-button>
      </div>
    </div>
  </section>