body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}
.skills{
    justify-content: center;
    align-items: cente;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 20px;
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
    .skills{
        justify-content: center;
        align-items: cente;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
      transform: translateY(-20%);
    }
      
}