
<!-- contact-form.component.html -->

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
          <div class="form-group">
            <label for="fullName"><i class="fas fa-user"></i> Full Name:</label>
            <input type="text" class="form-control" id="fullName" name="fullName" ngModel required>
          </div>
          <div class="form-group">
            <label for="email"><i class="fas fa-envelope"></i> Email:</label>
            <input type="email" class="form-control" id="email" name="email" ngModel required>
          </div>
          <div class="form-group">
            <label for="phoneNumber"><i class="fas fa-phone"></i> Phone Number:</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" ngModel required>
          </div>
          <div class="form-group">
            <label for="message"><i class="fas fa-comment"></i> Message:</label>
            <textarea class="form-control" id="message" name="message" rows="4" ngModel required></textarea>
          </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
        
      </div>
      
    </div>
  </div>
  
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  
  <script type="text/javascript">
    emailjs.init('LpWsHuLb2DzM-0JI1')
  </script>
  
  <div class="col-md-6">
    <div class="contact-info">
      <h2>Contact Information</h2>
      <ul class="contact-list">
        <li>
          <i class="fas fa-map-marker-alt"></i> Cape Town, South Africa
        </li>
        <li>
          <i class="fas fa-phone"></i> 0765806404
        </li>
        <li>
          <i class="fas fa-envelope"></i> tsepophetla@gmail.com
        </li>
      </ul>
    </div>
  </div>
 
  
  <div class="containerr">
    <div class="row">
      <div class="col-md-12">
        <div class="social-container">
          <div class="social-media">
            <a href="#" class="social-link"><i class="fab fa-linkedin"></i> LinkedIn</a>
            <a href="#" class="social-link"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#" class="social-link"><i class="fab fa-github"></i> GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-scroll-button></app-scroll-button>
  