<section class="home">
  <div class="home-content">
  <h3>Hello, I'm</h3>
  <h1>Tsepo Phetla</h1>
  <app-typing-animation></app-typing-animation>
  <p>I am a Computer science graduate with a passion of delivering integrated software's.</p>
  
  <div class="home-sci">
    <a href="#"><i class='bx bxl-github'></i></a>
    <a href="#"><i class='bx bxl-linkedin-square'></i></a>
  </div>
  
  
  <!----><div class="image-container">
    <img src="\assets\images\crop.jpg" alt="Your Image">
  </div>
  <app-download-button></app-download-button>
  </div>
  </section>
    